<!DOCTYPE html>
<html>
<head>
  <title>JSON Response Example</title>
  <style>
    body {
      background-color: whitesmoke;

    }
  </style>
</head>
<body>

  <a href="/create">Add Task</a>

  <h1>All Tasks</h1>
  <!-- <p><%= JSON.stringify(jsonData.Tasks) %></p> -->
  <!-- <p>Data: <%= JSON.stringify(jsonData.data) %></p> -->

  <% jsonData.Tasks.forEach(function(task, index) { %>
  
        Item <%= index + 1 %>:
        <ul>
          <li>Name: <%= task.name %></li>
          <li>Description: <%= task.description %></li>
          <li>Done: <%= task.completed %></li>
        </ul>
     
  <% }); %>
 
  

  <script>
    
  </script>

</body>
</html>